RestaurantsApi.PublishSettings
.vs/
Notes/notes.cs
Src/Core/Resturants.Application/obj/
Src/Core/Resturants.Application/bin/
Src/Core/Resturants.Domain/obj/
Src/Core/Resturants.Domain/bin/
Src/Resturants.Api/bin/
Src/Resturants.Api/obj/
Src/Resturants.Api/appsettings.json
Src/Resturants.Infrastructure/obj/
Src/Resturants.Infrastructure/bin/
Tests/Restaurant.Application.Tests/bin
Tests/Restaurant.Application.Tests/obj
Tests/Resturants.Api.Tests/bin
Tests/Resturants.Api.Tests/obj
Tests/Resturants.Infrastructure.Tests/bin
Tests/Resturants.Infrastructure.Tests/obj